/* boostrap custom */
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
.btn-link {
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}
.btn-link:hover {
  color: black;
}
.gap-row {
  padding-bottom: 20px;
}
.form-control {
  border: none;
  border-bottom: 1px solid #ced4da;
}
/* boostrap custom end */
.bg {
  height: 300px;
  position: relative;
}
.text1 {
  color: rgb(0, 0, 0);
  font-size: 50;
  font-weight: 300;
}
.text2 {
  padding-bottom: 30px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 300;
}
.text2 span {
  font-weight: 900;
}
.text3 {
  text-align: center;
  padding-bottom: 30px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 300;
}
.text3 span {
  font-weight: 900;
}
.text3_sub {
  text-align: left;
  padding-bottom: 5px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 300;
}
.text3_sub span {
  font-weight: 900;
}
.text3-out {
  padding-bottom: 5px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 300;
}
.text3-out span {
  font-weight: 900;
}
.text4 {
  padding-bottom: 30px;
  color: rgb(241, 236, 236);
  font-size: 15px;
  font-weight: 300;
}
.text4-model {
  /* padding-bottom: 30px; */
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}
.text4-out {
  padding-bottom: 30px;
  color: rgb(77, 75, 75);
  font-size: 15px;
}
.text5 {
  padding-bottom: 30px;
  padding-top: 30px;
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.text5-model {
  padding-top: 30px;
  color: #fff;
  font-size: 20px;
}
.text5-out {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
