.header {
  background-image: url(/new_version/assets/img/background_header.jpg);
  max-height: 300px;
  height: 100%;
  position: relative;
}
.header-area {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.wrapper {
  position: relative;
  top: -50;
  background: #f8f8f8;
}
.layout_out {
  padding: 35px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.layout_out-side {
  background-image: linear-gradient(to right, #ed213a, #93291e);
  padding: 35px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 2px 20px rgb(0 0 0 / 7%);
}
.layout_in-side {
  background: white;
  padding: 35px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 2px 20px rgb(0 0 0 / 7%);
}
